In [1]:

import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [2]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [3]:
# ANS 1:
df[1:2]

        course_name  duration
1  Machine Learning         3

In [4]:
# ANS 2:
# "loc" means it location by columns or row  names
# "iloc" means it gives indexes location

In [5]:
# ANS3:
new_df = df.reindex([3,0,1,2])

In [6]:
new_df

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [7]:
new_df.iloc[2] # output in terms of index

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [8]:
new_df.loc[2] # output in terms of location of that particular index

course_name    Big Data
duration              6
Name: 2, dtype: object

In [9]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [10]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.396784  0.280645  0.519604  0.831229  0.399559  0.857912
2  0.145382  0.104594  0.451941  0.328443  0.723816  0.518556
3  0.337078  0.391587  0.596954  0.824031  0.514021  0.248814
4  0.349236  0.407183  0.153727  0.171385  0.531419  0.721979
5  0.419785  0.024749  0.676219  0.337336  0.843716  0.081222
6  0.538737  0.611125  0.238015  0.474605  0.937565  0.181283

In [11]:
# ANS 4:
for i in df1:
    print(df1[i].mean())

0.36450039993869937
0.3033138013575441
0.4394100113000377
0.49450476113901715
0.6583492741005618
0.43496101002024545

In [12]:
df1["column_2"].std()

0.21490943260374523

In [13]:
# ANS 5:
df1 = df1.rename(columns = {"column_2":"chai2"})

In [14]:
df1

   column_1     chai2  column_3  column_4  column_5  column_6
1  0.396784  0.280645  0.519604  0.831229  0.399559  0.857912
2  0.145382  0.104594  0.451941  0.328443  0.723816  0.518556
3  0.337078  0.391587  0.596954  0.824031  0.514021  0.248814
4  0.349236  0.407183  0.153727  0.171385  0.531419  0.721979
5  0.419785  0.024749  0.676219  0.337336  0.843716  0.081222
6  0.538737  0.611125  0.238015  0.474605  0.937565  0.181283

In [15]:
df1["chai2"].mean()

0.3033138013575441

In [16]:
# ANS 6:
# window functions are used to get the values of set of rows
# rolling , groupby

In [17]:
# ANS 7 :
pd.to_datetime(pd.datetime.now())

/tmp/ipykernel_510/1606812144.py:2: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  pd.to_datetime(pd.datetime.now())

Timestamp('2023-04-20 04:34:30.095219')

In [18]:
# ANS 8:
import pandas as pd
def timediff(x):
    return pd.Timedelta(x)
x = pd.to_datetime(input("enter the date 1"))
x1 = pd.to_datetime(input("enter the date 2")) 
a = x-x1
timediff(a)

enter the date 1 2023-03-13
enter the date 2 2023-03-08

Timedelta('5 days 00:00:00')

In [19]:
# ANS 9:
filename = pd.read_csv(input("enter the path"))
column_name = input("enter the column name")
catagory_order = input("enter the order").split(',')
filename[column_name]=pd.Catogorical(filename[column_name] , catagories=[catagory_order])

enter the path data.csv

FileNotFoundError: [Errno 2] No such file or directory: 'data.csv'

In [21]:
# ANS 10:
df = pd.read_csv(input("enter the path"))
def visualize(x):
    return x.plot.bar(x="product" , y="sales")
visualize(df)

enter the path sdf.csv

FileNotFoundError: [Errno 2] No such file or directory: 'sdf.csv'

In [40]:
data1 = {"student_id" :[1,2,3,4,5,6,7,8,9,10],
         "test_score": [68,76,74,98,45,61,91,84,79,76]
        }

In [41]:
df1 = pd.DataFrame(data1)

In [42]:
df1

   student_id  test_score
0           1          68
1           2          76
2           3          74
3           4          98
4           5          45
5           6          61
6           7          91
7           8          84
8           9          79
9          10          76

In [43]:
df1.to_csv("student.csv")

In [44]:
data = pd.read_csv(input("enter the path"))
df=pd.DataFrame(data)
df
def stat(x):
    stat_data={"mean":[x["test_score"].mean()],
               "median":[x["test_score"].median()],
               "mode":[x["test_score"].mode()]
              }
    df4 = pd.DataFrame(stat_data)
    return df4
stat(df)

enter the path student.csv

   mean  median                                    mode
0  75.2    76.0  0    76
Name: test_score, dtype: int64